
body{
    background: linear-gradient(rgb(196, 78, 98),#f111, rgb(192, 79, 98));
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background: #f111;
    color: gold;
    gap: 250px;
    background-color: rgb(214, 73, 97);
}
.btn-principal{
    background-color: gold;
    width: 200px;
    height: 100px;
    
}
nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
    text-decoration-style: none;
    font-weight: bold;

}

nav a:hover{
    color: gold;
    transition: transform 0.02s;
    text-decoration: underline ;
    ;
}




